# .gitignore for website projects
*.log
*.cab
*.msi
*.msm
*.msp
*.zip
*.lnk
.idea
.DS_Store
thumbs.db
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

services/serverConfig.php
public/blog/wp-content/uploads/

data/
public/resources/
public/games/
public/lab/
